.header{
    width: 100%;
    font-family:Arial, Helvetica, sans-serif
}
.logo{
  position: relative;
  top: -300px;
  left: -100px;
}
.text{
    position: relative;
    top: 100px;
    left: 60%;
    transform: translate(-50%, -50%);
    color: aliceblue;
    position:relative;
    margin-top: -350px;
}
.text1{
    margin-left: 84rem;
    margin-top: -25rem;
    display: flex;
    color: #fff;
    text-decoration: none;
}
.button1{
    height: auto;
    align-self:flex-end;
    padding: 0px 29px;
    border-radius: 30px;
    cursor: pointer; 
    background-color: rgb(0, 247, 164);
}

